{% extends 'layout.html' %}
{% block body %}

      <div class="jumbotron">
        <h1 class="display-4">Warehouse</h1><hr>
        <div class="row marketing">
          <div class="col-md-4">
            <a href="{{url_for('shelfs')}}" class="btn btn-primary" role="button">Manage shelfs</a>
            </div>
          <div class="col-md-4">
            <a href="{{url_for('products')}}" class="btn btn-primary" role="button">Manage products</a>
          </div>
          <div class="col-md-4">
            <a href="{{url_for('transports')}}" class="btn btn-primary" role="button">Manage transports</a>
          </div>
        </div>
      </div>
{% endblock %}
